# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: readme-svg
on:
  schedule:
    - cron: "15 03 1 * *"
  workflow_dispatch:
  push:
    branches: main

jobs:
  readme-svg:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: Platane/snk@651a2bcd85e37cf42a9f4921aca57af42f731728 # v3.4.0
        id: badger-badger-snake-snake
        name: Generate Snake
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            github-snake.svg
            github-snake-dark.svg?palette=github-dark
      - name: Commit Snake
        continue-on-error: true
        id: git-commit-snake
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "<>"
          git add github-snake.svg
          git add github-snake-dark.svg
          git commit -m "chore: github-snake.svg - [skip actions]" github-snake.svg github-snake-dark.svg
          git push origin ${{ env.GITHUB_REF_NAME }}
